.educationInfo {
  position: relative;
  grid-row: 2;
  grid-column: 2;
  display: flex;
  gap: 4%;
  align-items: center;
  flex-direction: column;
}

.educationInfo .editButton,
.educationInfo .submitButton {
  position: absolute;
  top: 1.6%;
  right: 5%;
  background: none;
  border: none;
  font-size: 2em;
}

.educationInfo .inputGroup {
  margin-bottom: 1%;
}

.educationInfo input {
  font-size: 1.3rem;
}
